<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpaceTogether.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64B1DAB425A83FC2002CBD4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64B1DACA25A83FC9002CBD4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64B1DAD525A83FC9002CBD4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
